.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


#welcome{
  margin-top: 90px;
  justify-self: center;
  color: aliceblue;
  transform: scale(2);

}

#description{
  margin-top: 20px;
  justify-self: center;
  color: aliceblue;
  transform: scale(1.5);
}